.diamond {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: rotate(45deg);
    margin: 100px auto;
    border: 3px solid green;
  }
  .diamond div {
    background: #b2ff33;
    border: 2px solid green;
  }